.ribbon {
	--light-background: #f1f1f1;
	--dark-background: var(--brand-primary);
	--header-size: 2.44em;

	display: flex;
	flex-direction: column;
	background: var(--dark-background);
	color: white;
}
